@charset "utf-8";

* {box-sizing: border-box}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul,article,section {margin: 0;padding: 0}
body,button,h1,h2,h3,h4,h5,input,select,table,textarea {font-family: "Helvetica Neue","Apple SD Gothic Neo",sans-serif;font-weight: 500;font-size: 14px;line-height: 1.267em}
body {position: relative;color: #000;word-break: break-all;-webkit-text-size-adjust: none}
html {font-size: 10px;line-height: 15px}
table {border-collapse: collapse}
fieldset,img {border: 0}
ol,ul {list-style: none}
address,em {font-style: normal}
a {color: inherit;text-decoration: none;-webkit-tap-highlight-color: rgba(0,0,0,.1)}
img {vertical-align: top}
button {border:none; cursor: pointer;}
div:focus {outline: none}
.clearfix:after {content:""; display: block; clear: both}
.wrap_center {max-width: 1200px; margin:0 auto; position: relative;}
._full_height {height: 100%}
.font_blue {color: #007dff;}

.animation{opacity: 0;}
.animated{opacity: 1;}

#header {position: relative; text-align: center; padding:40px 0;}
#header h1 {display: inline-block;}
#header h1 img {width: 230px;}
#header .btn_drawer {display: none;position: absolute;right: 0;bottom:21.5px;width: 24px;height: 17px;background: url('../images/icon_drawer.png') no-repeat;background-size: cover;}
#header .area_relate {position: absolute; left:0; top:50%; transform: translateY(-50%);}
#header .area_relate .msit {width: 140px;}
#header .area_relate .nia {width: 138px; margin-top: 6px; display: inline-block}
#header .area_relate a {vertical-align: middle}
#header .area_relate a + a {margin-left: 15px}
#nav {position: absolute; right:0; top:50%; transform: translateY(-50%);}
#nav .link {display: inline-block;font-size: 18px;color: #212121;}
#nav .link:hover, #nav .link._active {color: #007dff}
#nav .link._active {border-bottom-color: #007dff;}
#nav .link + .link {margin-left: 40px}
#nav .close, #nav .logo, #nav .relate {display: none;}

#footer {background-color: #393532;color: #fff;text-align: center;padding:45px 0 55px; word-break:keep-all;word-wrap:break-word;}
#footer .area_list li {display:inline-block;padding: 1px 19px;font-size: 13px; font-size: 15px;height:15px; position: relative}
#footer .area_list li:first-child a {color:#f9cb63}
#footer .area_list li + li:after {content: "";width: 1px;height:15px;position: absolute;left:0;top:2px;opacity: 0.32;background-color: #d8d8d8;}
#footer .area_address {line-height: 1.5; margin:30px 0 20px;}
#footer .area_address li {font-size: 14px;}
#footer .area_address li em {font-weight: bold}
#footer .area_address li.copyright {margin-top: 23px;font-size: 15px;color: #a4a4a4;}
#footer .area_copyright {color: #a4a4a4; font-size: 15px; line-height: 1.5;}
#footer .btn_top {display: block;position: absolute;right: 0;top: 0;width: 45px;height: 45px;background: url('../images/icon_top.png') no-repeat;background-size: cover;}

#content {padding: 0 0 200px;}
#content.main {padding-bottom: 60px;}
/*#content.main .control {position: absolute;*/
/*    width: 100%;*/
/*    bottom:10px;*/
/*}*/
#content .location {height: 50px;background-color: #0080ff;font-size: 14px;color: #fff;}
#content .location .home {display: inline-block; width: 50px; height:50px; margin-right:20px; border-right: 1px solid  #eaeaea; border-left: 1px solid  #eaeaea;background: url("../images/icon_home.png") no-repeat 50% 50%; background-size: 16px;vertical-align: middle;opacity: 0.4;}
#content .location .text {vertical-align: middle;}
#content .tit_content {font-size: 40px;font-weight: bold;letter-spacing: normal;text-align: center;color: #212121;padding:70px 0 40px;}
#content .tab {width: 100%; overflow: hidden;margin-bottom: 14px;}
#content .tab li {float: left;height: 50px;width:50%;border-top: 1px solid #1a428a;border-right: 1px solid #dedede;border-bottom: 1px solid #b6b6b6;text-align: center;display: table;}
#content .tab li a {display: table-cell;height: 50px;line-height: 1.1em;vertical-align: middle;word-break: keep-all;}
#content .tab li a.active {background: #1a428a; color: #fff; font-weight: bold;}
#content .area_tit {padding: 70px 0 50px; text-align: center;}
#content .area_tit .tit {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1.33px;
    color: #212121;
}
#content .area_tit .tit_sub {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2.43px;
    color: #979797;
    padding: 5px 0 30px;
}
#content .area_tit .txt {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.8px;
    text-align: center;
    color: #000000;
}


/* main */
.visual_slider .area_text {position: absolute;left:0;right:0;top:0;bottom:0;height:100%;width: 100%;color: #fff;}
.visual_slider .txt {margin:159px 0 44px;font-size: 30px;font-weight: 300;letter-spacing: -1.5px;}
.visual_slider .txt2 {line-height: 1.3;letter-spacing: -1.67px;font-size: 57px;font-weight: bold;}
.visual_slider .link {font-size: 15px;display: inline-block;padding:15px 46px 16px 15px;border: 1px solid #cacaca;margin-top: 60px;background: url('../images/icon_btn_arrow_new.png') no-repeat 100% 50%;background-size: 24px;}
.visual_slider .wrap_center {height: 100%}
.slick-slide {position: relative}
.wrap_main_content {padding-top: 40px}
/*@media screen and (max-width: 1800px) {
    .wrap_main_content {margin-top: 30px!important;}
}*/
.wrap_main_content .tit2 {padding-bottom: 15px;font-size: 20px;font-weight: bold;letter-spacing: -0.67px;color: #000;}
.wrap_main_content .tit2_top {margin-top: 14px}
.box_m {position: relative;}
.box_main {padding:30px; min-height: 250px; position: relative; margin-bottom: 22px; border:1px solid #c3c3c3; width: 100%; background: #fff;}
.box_main .tit1 {font-size: 20px;font-weight: bold;letter-spacing: -0.67px;color: #000;padding-bottom: 15px;}
.box_main .txt {letter-spacing: -0.5px;color: #7f7f7f;font-size: 15px;line-height: normal;}
.box_main .link {position: absolute;left:30px; bottom: 30px;border: 1px solid #cacaca;padding:7px 30px 7px 17px;font-size: 15px;color: #333;background: url('../images/icon_btn_arrow2.png') no-repeat 100% 50%;background-size: 16px;}
.box_main:after {content: "";width: 70px;height: 70px;position: absolute;right: 30px;bottom: 30px;background: url('../images/icon_document.png') no-repeat;background-size: cover;}
.box_main2:after {background-image: url('../images/icon_camera.png');}

/* layout */
.wrap_col {margin:0 -10px;}
.wrap_col:after {content:""; display: block; clear: both}
.wrap_col .row {margin-bottom: 20px;}
[class*="col_"] {float:left;padding:0 10px;}
.col_4 {width: 33.3333333333333%;}
.col_6 {width: 50%}
.col_8 {width: 66.666667%}
.box_m .link_youtube {position: relative; display: block; overflow: hidden;background-color:#000;}
.box_m .link_youtube:after {content: "";position: absolute;width: 75px;height: 75px;left: 50%;top: 50%;transform : translate(-50%, -50%);background: url('../images/icon_youtube_play.png') no-repeat;background-size: cover;}
.box_m .link_youtube:hover .img_video_thumb {transform: scale(1.1);}
.box_m .img_video_thumb {width: 100%; transition: transform 0.8s ease;}

.box_l h3 {font-size: 28px;font-weight: bold;letter-spacing: -0.93px;color: #007dff;margin-bottom: 14px;}
.box_l .txt {font-size: 15px;font-style: normal;line-height: 1.6;letter-spacing: -0.5px;color: #000;margin-bottom: 25px;}
.box_l .inner li {position: relative;padding-left: 28px;min-height: 19px}
.box_l .inner li + li {margin-top: 8px}
.box_l .inner li:after {width: 19px;line-height: 19px;display: inline-block;position: absolute;left: 0;top: 0;content: '1';background: #e6e6e6;border-radius: 100%;text-align: center;font-size: 13px;color: #666;}
.box_l .inner li.no2:after {content:'2'}
.box_l .inner li.no3:after {content:'3'}
.box_l .inner li.no4:after {content:'4'}
.box_l .inner li.no5:after {content:'5'}
.box_l .inner li.no6:after {content:'6'}
.box_l .inner li.no7:after {content:'7'}
.box_l .inner li.no8:after {content:'8'}
.box_l .inner li.no9:after {content:'9'}
.box_l .inner li.no10:after {content:'10'}
.box_l .inner li.no11:after {content:'11'}
.box_l .inner li.no12:after {content:'12'}

.area_total {position: relative; font-size: 16px; padding: 0 0 18px;}
.area_total .num {color: #248fff}

.area_board ul {overflow: hidden; border-top: 2px solid #444;}
.area_board li {border-bottom: 1px solid #e0e0e0; padding: 15px 0 20px 0;}
.area_board li a {display: block;position: relative;padding: 0 10px;}
.area_board .subject {display: block;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 16px;color: #000;}
.area_board .date {position: absolute; right: 5px;top:50%; transform: translateY(-50%); font-size: 13px;color: #666;}
.area_board .no_result {text-align: center; padding:70px 0 50px}

.area_news {border-top: 3px solid #212121;}
.area_news li {border-bottom: 1px solid #bfbfbf;display: table;width: 100%;}
.area_news li a {color: #000;font-size: 18px;font-weight: 500;padding:20px 0;width: 100%;line-height: 1.5;text-align: left}
.area_news li a:hover {color: #007dff;}
.area_news li > span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 15px 0;
    color: #737373;
}
.area_news li > span.title {
    padding-right: 10px;
    text-align: left;
}
.area_news li .num {
    width: 102px;
    font-size: 16px;
}
.area_news li .date {width:120px; font-size: 14px;font-weight: 500;}
.area_news li .area_file {padding-top: 15px;width: 58px;}
.area_news li .file {display:inline-block;width: 28px;height: 21px;background: url('../images/icon_file.png') no-repeat 119% 50%;background-size: 22px;}
@media (max-width: 640px) {
    .area_news li .num {width: 80px}
    .area_news li .area_file, .area_news li .date {display: none;}
}

.area_detail {position: relative; padding:40px 60px 130px; border-top: 3px solid #212121;}
.area_detail.news {padding-left: 130px; color: #212121; line-height: 1.5;font-size: 16px;}
.area_detail.news .date {color: #212121;font-size: 14px;font-weight: 500;position: absolute;left:0;top:40px;}
.area_detail.news .detail_file {margin-top: 80px;}
.area_detail.news .file {position: relative;display: inline-block;border: 1px solid #bfbfbf;padding:20px 70px 20px 65px;background: url('../images/icon_file.png') no-repeat 30px 50%;background-size: 28px;font-size: 16px;min-width: 670px;}
.area_detail.news .file + .file {margin-top: 10px;}
@media screen and (max-width: 840px) {
    .area_detail.news .detail_file {margin-top: 30px;}
    .area_detail.news .file {min-width: 100%;}
}
.area_detail.news .file:after {content:"";width:24px;height: 24px;position: absolute;right: 30px;top:50%;transform: translateY(-50%);display: inline-block;background: url('../images/icon_download.png') no-repeat 100% 50%;background-size: 24px;}
.area_detail .date {position: absolute; top:0; left:3px; font-weight: 500; color: #212121;}
.area_detail .tit_detail {padding-bottom: 45px;font-size: 24px;font-weight: bold;color: #212121;line-height: 1.5}
.area_detail .area_sub {position: relative;}
.area_detail .area_date {position: absolute; right:0; top:0}
.area_detail .area_file {position: relative; background: #ddd; padding:10px;margin-top: 10px;}
.area_detail .area_file .btn_file {position: absolute; right:10px; top:50%; transform: translateY(-50%);}
.area_detail .area_image {line-height: 1.5}
.area_detail .area_image .img {width: 100%; margin: 10px 0}
.area_detail .area_youtube {position: relative; max-width: 100%; padding-bottom: 56.25%; height: 0;}
.area_detail .area_youtube iframe {position: absolute; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.area_content {font-weight: 400}
.area_content .link {color: blue; text-decoration: underline;}

.area_prevnext {border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf;}
.area_prevnext li {}
.area_prevnext li + li {border-top: 1px solid #bfbfbf;}
.area_prevnext li a {display:block; width:100%; padding:23px 10px; color: #888;}
.area_prevnext li a[href] {color: #212121;}
.area_prevnext li a span {padding-right: 20px;margin-right: 13px;background: url('../images/icon_prev.png') no-repeat 100% 50%; background-size: 14px;}
.area_prevnext li a span.next {background-image: url('../images/icon_next.png');}
.area_pagenation {border-top: 1px solid #444;border-bottom: 1px solid #444;}
.area_pagenation a {display: block; padding:10px}
.area_pagenation a span {display: inline-block; margin-right: 10px;}
.area_pagenation li + li {border-top: 1px solid #ddd}
.area_thumbnail {border-bottom: 1px solid #bfbfbf; border-top: 3px solid #212121; padding-top: 40px}
.area_thumbnail ul {margin:0 -20px}
.area_thumbnail li {float:left; width:33.333333%; padding:0 20px 40px;}

.slider {position: relative;width: 100%;margin-bottom: 50px;transition: all 1.0s ease-in-out;}
.slider .slide_image {opacity: 1;height: calc(100% - 140px);background-size: cover;background-position: center;}
.slider .slide_image img {display: block;width: 100%;min-height:300px;opacity: 1;}
.slider .img_promotion_thumb {width: 100%}
/*.slider .slick-active .slide_image {opacity: 1;}*/
.slick-dotted.slick-slider {margin:0}
.slider .img_mois {width: 155px;}
.slider .img_msit {width: 208px;}
.slider .img_moef {width: 148px;}
.slider .mouse {
    z-index: 10;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 52px;
    background: url('../images/icon_mouse.png') no-repeat 50% 0; background-size: 32px;
}
.slider .mouse:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    animation: sdb 2s infinite;
}
@keyframes sdb {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.slider .mouse p {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.9px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.slider_l {height: 370px;border: 1px solid #c3c3c3;}
.slider_l .slick-list, .slider_l .slick-track {height: 100%;}
.slider_l .inner {padding:47px 0 0 40px;}
.slider_l .bg1 {background: url('../images/bg_slider_dna_new.png') no-repeat 93% 50%;background-size: 277px;}
.slider_l .bg2 {background: url('../images/bg_slider_edu.png') no-repeat 93% 50%;background-size: 261px;}
.slider_l .bg3 {background: url('../images/bg_slider_noface.png') no-repeat 93% 50%;background-size: 242px;}
.slider_l .bg4 {background: url('../images/bg_slider_soc.png') no-repeat 93% 50%;background-size: 232px;}
.slider_long {height: 619px}
.slider_long .inner {padding-right:10px;}
.slider_long [class*="bg"] {height: 100%; background-position: 93% 90%;}

/*.slider_l .slick-list, .slider_l .slick-track, .slider_l .slick-slide {height: 100%;}*/
/*.slider_visual, .slider_visual .slick-track, .slider_visual .slick-slide {height:100vh}*/
/*.slider_visual .slick-track {display: flex}*/
/*.slider_visual .slick-track .slick-slide {display: flex; height:auto;}*/
/*.slider_l .slick-slide {*/
/*    opacity: 0;*/
/*    transition: opacity 1.25s ease-out;*/
/*}*/
/*.slider_l .slick-slide.slick-current {*/
/*    opacity: 1;*/
/*}*/


.slider_s {height: 97px;border: 1px solid #c3c3c3;margin:0;}
.slider_s * {height: 100%}
.slider_s a {display: block; text-align: center}
.slider_s a img {position: absolute;top : 50%;left: 50%;transform : translate(-50%, -50%);  height: auto}
.slider .slick-list {overflow: hidden}
.slick-dots {bottom: auto; height: 13px;}
.slick-dots li {width: 13px;height: 13px; vertical-align: top;}
.slick-dots li button {width: 13px;height: 13px;background: url('../images/icon_slider_dot.png') no-repeat;background-size: cover;}
.slick-dots li button:before {display: none}
.slick-dots li.slick-active button {background-image: url('../images/icon_slider_dot_current.png')!important;}
.slick-prev:before, .slick-next:before {display: none}
.slick-prev, .slick-next {width: 34px;height: 34px;background: url('../images/icon_slider_prev.png') no-repeat;background-size: cover;font-size: 0;top: -28px;right: 0;}
.slick-next {background-image: url('../images/icon_slider_next.png');}
.slick-prev {left: auto;right: 44px!important;}
.slider_arrow .slick-prev, .slider_arrow .slick-next {display: block!important;}
.slider_s .slick-prev, .slider_s .slick-next {
    z-index: 1000;
    background: url('../images/icon_slider_arrow_prev.png') no-repeat 50% 50%;
    background-size: 10px;
    background-color: rgba(176, 176, 176, 0.67);
    top: 50%;
    left:0;
}
.slider_s .slick-next {left: auto;right: 0;background-image: url('../images/icon_slider_arrow_next.png')}

.visual_slider .slick-dots {position: absolute;top:auto; text-align: left;max-width: 1200px;margin: auto;left:0;right:0;bottom: 31%;padding-right: 0;}
.visual_slider .slick-dots li button {background-image: url('../images/icon_slider_dot_white.png');}
.visual_slider .slick-dots li + li {margin-left: 5px;}


.box_l {position: relative;}
.box_l .control {
    z-index: 1000;
    position: absolute;
    left: 40px;
    bottom: 43px;
    top: auto;
    padding:0;
    text-align: left;
}

@media screen and (max-width: 1900px) {
    /*.visual_slider .slick-dots {bottom: 20%;}*/
    .visual_slider .txt {margin-top: 100px;}
}
@media screen and (max-width: 1700px) {
    /*.visual_slider .slick-dots {bottom: 10%;}*/
    .visual_slider .txt {margin-top: 70px;}
}
@media screen and (max-width: 1360px) {
    .visual_slider .slick-dots {bottom:30%;}
}
@media screen and (max-width: 1210px) {
    .col_8 + .col_4 {width: 100%}
    .visual_slider .slick-dots {margin: 0 20px;}
}
.visual_slider {min-height:300px}
#area_btn {text-align: center; padding-top: 24px}

/* 버튼 */
[class*="btn_m"] {min-width: 120px;min-height: 40px;line-height:20px;display: inline-block;text-align: center;padding:10px 15px;}
[class*="m_blue"] {background-color: #007dff;color:#fff;}


@media screen and (max-width: 768px) {
    .area_thumbnail li {width:50%;}
}
.area_thumbnail li img {width:100%;}
.area_thumbnail li a {display: block; position: relative;}
.area_thumbnail li a:after {content: "";position: absolute;width: 48px;height: 48px;top:80px;left:50%;margin-left:-24px;background: url('../images/icon_play.png') no-repeat 50% 50%;background-size: 48px;}
.area_thumbnail li a .title {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 10px;
    min-height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.area_pagination ul {margin-top:60px; text-align: center;font-size: 0;}
.area_pagination li {display: inline-block;}
.area_pagination a {position: relative;display: block;color: #777;font-size: 18px; line-height: 16px; margin:0 16px;}
.area_pagination a.current {color: #007dff; font-weight: 500;}

.area_pagination [class*="btn_"] {display: inline-block;width: 16px;height: 16px; position: relative; top:1px}
.area_pagination .btn_first {background: url('../images/icon_pagenation_first.png') no-repeat 50% 50%; background-size: 16px;}
.area_pagination .btn_prev {background: url('../images/icon_pagenation_prev.png') no-repeat 50% 50%; background-size: 16px;}
.area_pagination .btn_next {background: url('../images/icon_pagenation_next.png') no-repeat 50% 50%; background-size: 16px;}
.area_pagination .btn_last {background: url('../images/icon_pagenation_last.png') no-repeat 50% 50%; background-size: 16px;}

@media screen and (max-width: 1500px) {
    .visual_slider .slick-dots {bottom: 20%;}
}
@media screen and (max-width: 1360px) {
    .visual_slider .txt {margin:50px 0 14px; font-size: 20px; line-height: 1.5;}
    .visual_slider .txt2 {font-size: 30px;}
}

@media screen and (max-width: 1210px) {
    #header .area_relate {margin:0 -20px}
    #header .area_relate {padding-left: 20px;}
    .wrap_center {margin:0 20px;}
    .col_8 {width: 100%; margin-bottom: 20px}
    /*.box_l {padding-top: 40px;}*/
    .slider_responsive .slick-slide {margin:0 10px;}
    .wrap_main_content .tit2_top {margin-top: 40px;}
    .box_main {padding: 15px; min-height: 192px;}
    .box_main .link {left:15px; bottom:15px;}
    .box_m .link_youtube {background-size: auto 134%;}
}

@media screen and (max-width: 900px) {
    #nav {display: none;position: fixed;background: #fff;top: 0;left: 100%;width: 100%;height: 100%;visibility: hidden;transition: visibility .55s, height .55s, left .35s;overflow: hidden;z-index: 999;display: flex;flex-direction: column;justify-content: center;transform: none;padding-left: 80px;}
    #nav._open {visibility: visible;left:0;display: flex;}
    #nav .logo {display: block;position: absolute;top:14px;left: 16px;}
    #nav .relate {display: block;opacity:0;position: absolute;bottom: 40px;}
    #nav .relate a + a {margin-left: 20px}
    #nav .relate a .msit {margin-top: -6px}
    #nav._open .relate {animation: fadeUp .5s ease forwards;animation-delay: 0.5s;}
    @keyframes fadeUp {
        0% {opacity: 0;transform: translate3d(0,100%,0);}
        to {opacity: 1; transform: none;}
    }
    #nav .link {display: block;margin:0 !important;padding:30px 0;color: #9e9e9e;font-size: 22px;font-weight: 500;border-bottom: 1px solid #ccc;text-align: left;line-height: normal;}
    #nav .close {display: block;position: absolute;right: 20px;top: 20px;width: 20px;height: 20px;background: url('../images/icon_drawer_close.png') no-repeat;background-size: cover;}
    #header {padding:0; text-align: left;}
    #header .area_relate {position: relative;padding:15px 0 15px 20px;background-color: #f5f5f5; left:auto; top:auto; transform: none;}
    #header h1 {margin:14px 0 14px 0}
    #header h1 img {width: 160px;}
    #header .btn_drawer {display: block;}
    #header .area_relate .msit {width: 120px;}
    #header .area_relate .nia {width: 100px;}
    #content {padding-bottom: 100px;}
    #content .tit_content {font-size: 28px;padding: 50px 0 30px;}
    #content .area_tit .tit {font-size: 28px;}
    .area_detail {padding:30px 30px 70px;}
    .area_detail.news .date {display:block; position: relative; top:0; left:0;margin:10px 0 30px;}
    .area_detail.news {padding: 10px 0 60px;}
    .area_detail .tit_detail {padding-bottom: 25px;font-size: 18px;}
    .area_news li .num {font-size: 14px;}
    .area_news li a {font-size: 16px;}
    .slider_l {background: none}
    .slider .slide_image {height: calc(100vh - 122px);}
    .visual_slider .slick-dots {bottom: 23%;}
}

@media screen and (max-width: 760px) {
    .col_4, .col_6 {width: 100%;}
    .col_6 {margin-bottom: 20px}
    .slider_long {height: auto}
    .slider_l .inner {padding: 30px;}
    #content .area_tit .txt {word-break:keep-all;word-wrap:break-word; text-align: left}
    #content .area_tit .txt br {display: none;}
    .box_l h3 {font-size: 22px;}
    .slider_long [class*="bg"] {background: none}
    .row .col_4 {width: 50%; margin-bottom: 20px}
    .wrap_col .row {margin-bottom: 0;}
    .wrap_main_content {padding-top: 20px;}
    .slider_l .slick-slide {background: none;}
    .box_m .link_youtube:after {width: 60px; height: 60px;}
    #footer {text-align: left}
    #footer .area_list li {margin-bottom: 10px;}
    #footer .area_list li:first-child {padding-left: 0}
    #footer .area_address span {display: block; margin-bottom: 5px}
}

@media screen and (max-width: 500px) {
    .slider_l {height: 340px}
    .slider_l .inner {padding: 20px;}
    .slider_long {height: auto}
}

@media screen and (max-width: 450px) {
    .row .col_4 {width: 100%;}
    .box_main:after {display: none;}
    #footer .area_list {padding-right: 55px}
}

@media screen and (max-width: 420px) {
    .box_m .link_youtube {
        background-size: cover;
    }
}

/* notfound 페이지 */
.box_system01 {text-align:center; color: #000; padding: 0 20px;height: 100vh; word-break:keep-all;word-wrap:break-word;}
.box_system01 .box_table {height:100vh; min-height:400px; text-align:center; display: table;width: 100%;}
.box_system01 .img01 img {width: 45%; max-width: 173px}
.box_system01 .txt01 {margin-top:74px;  font-size: 30px;font-weight: bold; line-height:1.5;}
.box_system01 .txt02 {font-size: 18px;line-height: 1.61;letter-spacing: -0.6px;text-align: center;margin: 19px 0 50px;}
.box_system01 .box_tablecell {display: table-cell;vertical-align: middle;}

@media all and (max-height: 459px) and (orientation:landscape) {
    /* 가로 모드일 때 적용할 CSS */
    .slider .mouse {left: auto; right: 20px; bottom: 70px}
    .visual_slider .txt {margin: 20px 0 5px; font-size: 16px;}
    .visual_slider .txt2 {font-size: 18px;}
}

/* 사업소개 */
.box_intro {}